.main{
	flex-wrap: wrap;
	width: 1952px;
	height: 1252px;
	max-width: 1952px;
	max-height: 1252px;
	border-right: 2px solid #ec691e;
	flex: 1 ;
}
.main::-webkit-scrollbar,
.gridflex::-webkit-scrollbar{
    width: 0px !important;
	height: 0px !important;
}
.flexcenter{	
  align-content: space-around;
  justify-content: space-around;
}
.mainiframegrid1,.mainiframegrid2{
	background-color: #0000004d;
	width: 1280px;
	height: 720px;
	max-width: 1280px;
	max-height: 720px;
	min-width: 1280px;
	min-height: 720px;
	border: 2px solid #000000a1;
}
.mainiframegrid2,.mainlink{
	background-repeat: no-repeat;
	background-clip: content-box;
	background-position: center;
	background-size: contain;
}
.mainlinkgrid{
	background-color: #0000004d;
	margin: 8px 0px 0px 8px;
	width: 647px;
	height: 704px;
	max-width: 647px;
	max-height: 704px;
	min-width: 647px;
	min-height: 704px;
	border: 2px solid #000000a1;
	border-radius: 10px;
}
.linkgridflex{
	background-color: #0000004d;
	margin: 8px 8px 0px 0px;
	width: 323px;
	height: 150px;
	max-width: 181px;
	max-height: 150px;
	min-width: 181px;
	min-height: 150px;
	border: 2px solid #00000026;
	border-radius: 10px;
	
}
.maingrid{
	background-color: #0000004d;
	margin: 8px 8px 0px 0px;
	width: 181px;
	height: 150px;
	max-width: 181px;
	max-height: 150px;
	min-width: 181px;
	min-height: 150px;
	border: 2px solid #00000026;
	border-radius: 10px;
}
.textbox{
	background-color: #0000004d;
	margin: 16px 0px 0px 16px;
	width: 1920px;
	height: auto;
	max-width: 1920px;
	max-height: auto;
	min-width: 1920px%;
	min-height: auto;
	border: 2px solid #00000026;
	border-radius: 10px;
}
.subtextbox{
	background-color: #0000004d;
	margin: 16px 0px 16px 16px;
	width: 1888px;
	height: auto;
	max-width: 1888px;
	max-height: auto;
	min-width: 1888px;
	min-height: auto;
	border: 2px solid #00000026;
	border-radius: 10px;
}
.mainlink:-webkit-any-link {
    text-decoration: none;
}
.flexbox{
	width: 205px;
	height: 117px;
	max-width: 205px;
	max-height: 117px;
	min-width: 205px;
	min-height: 117px;
}
.mainlink {
	background-color: #0000004d;
	width: 201px;
	height: 113px;
	max-width: 201px;
	max-height: 113px;
	min-width: 201px;
	min-height: 113px;
	border: 2px solid #000000a1;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.empty{
	cursor: default;
	}
.mainimg{
	background-color: #0000004d;
	background-size: cover;
	margin: 7px 5px 3px 5px;
	border: 2px solid #000000;
	border-radius: 10px;
	width: 348px;
	height: 225px;
	max-width: 348px;
	max-height: 225px;
	min-width: 348px;
	min-height: 225px;
}
.maininfo{
	background-color: #0000004d;
	margin: 0px 5px 4px 5px;
	border: 2px solid #00000026;
	border-radius: 10px;
	width: 348px;
	height: 51px;
	max-width: 348px;
	max-height: 51px;
	min-width: 348px;
	min-height: 51px;
	font-size: 23px;
	text-align: center;
	font-family: IBMPlexSans, Arial, sans-serif;
}
.maininfoline{
	width: 350px;
	height: 17px;
	max-width: 350px;
	max-height: 25.5px;
	min-width: 350px;
	min-height: 25.5px;
}
