.sidebar{
	display: block;
	width: 300px;
	height: 1252px;
	max-width: 300px;
	max-height: 1252px;
	border-right: 2px solid #ec691e;
	flex: 3;
}
.sidegrid{
	display: inherit;
	background-color: #0000004d;
	height: auto;
	max-width:276px;
	width:276px;
	border: 2px solid #00000026;
	border-radius: 10px;
	margin: 10px 10px 0px 10px;
	overflow:auto;
}
.sidegrid::-webkit-scrollbar{
    width: 0px !important;
	height: 0px !important;
}
.downloads{
	display: inherit;
	width: 240px;
	height: auto;
	max-width: 240px;
	max-height: auto;
	text-align: center;
	background-color: #0000004d;
	border: 2px solid #00000026;
	border-radius: 10px;
	margin: 10px 0px 0px 16px;
}