.main{
	flex-wrap: wrap;
	width: 2263px;
	height: 1252px;
	max-width: 2263px;
	max-height: 1252px;
	border-right: 2px solid #ec691e;
	flex: 1 ;
}
.main::-webkit-scrollbar,
.gridflex::-webkit-scrollbar{
    width: 0px !important;
	height: 0px !important;
}
.maingrid{
	background-color: #0000004d;
	margin: 8px 8px 0px 0px;
	width: 362px;
	height: 300px;
	max-width: 362px;
	max-height: 300px;
	min-width: 362px;
	min-height: 300px;
	border: 2px solid #00000026;
	border-radius: 10px;
}
.mainlink:-webkit-any-link {
    text-decoration: none;
}
.mainimg{
	background-color: #0000004d;
	background-size: cover;
	margin: 7px 5px 3px 5px;
	border: 2px solid #000000;
	border-radius: 10px;
	width: 348px;
	height: 225px;
	max-width: 348px;
	max-height: 225px;
	min-width: 348px;
	min-height: 225px;
}
.maininfo{
	background-color: #0000004d;
	margin: 0px 5px 4px 5px;
	border: 2px solid #00000026;
	border-radius: 10px;
	width: 348px;
	height: 51px;
	max-width: 348px;
	max-height: 51px;
	min-width: 348px;
	min-height: 51px;
	font-size: 23px;
	text-align: center;
	font-family: IBMPlexSans, Arial, sans-serif;
}
.maininfoline{
	width: 350px;
	height: 17px;
	max-width: 350px;
	max-height: 25.5px;
	min-width: 350px;
	min-height: 25.5px;
}
