.main{
	flex-wrap: wrap;
	width: 2263px;
	height: 1252px;
	max-width: 2263px;
	max-height: 1252px;
	border-right: 2px solid #ec691e;
	flex: 1 ;
}
.maingrid{
	background-color: #0000004d;
	margin: 20px 20px 0px 0px;
	width: 720px;
	height: 592px;
	max-width: 720px;
	max-height: 592px;
	min-width: 720px;
	min-height: 592px;
	border: 2px solid #00000026;
	border-radius: 10px;
}
.mainlink:-webkit-any-link {
    text-decoration: none;
}
.mainimg{
	background-color: #0000004d;
	background-size: cover;
	margin: 11px 0px 10px 8px;
	border: 2px solid #00000026;
	border-radius: 10px;
	width: 700px;
	height: 450px;
	max-width: 700px;
	max-height: 450px;
	min-width: 700px;
	min-height: 450px;
}
.maininfo{
	background-color: #0000004d;
	margin: 12px 0px 0px 8px;
	border: 2px solid #00000026;
	border-radius: 10px;
	width: 700px;
	height: 102px;
	max-width: 700px;
	max-height: 102px;
	min-width: 700px;
	min-height: 102px;
	font-size: 26px;
	text-align: center;
	font-family: IBMPlexSans, Arial, sans-serif;
}
.maininfoline{
	width: 700px;
	height: 34px;
	max-width: 700px;
	max-height: 34px;
	min-width: 700px;
	min-height: 34px;
}
