.main{
	flex-wrap: wrap;
	width: 1954px;
	height: 1252px;
	max-width: 1954px;
	max-height: 1252px;
	border-right: 2px solid #ec691e;
	flex: 1 ;
}
.maingrid{
	margin: 20px 20px 0px 0px;
	width: 943px;
	height: 592px;
	max-width: 943px;
	max-height: 592px;
	min-width: 943px;
	min-height: 592px;
	border: 2px solid #ec691e;
	flex: 4 ;
}